
/*Background and font*/
body {
	/*background-color: white;*/
	background-image: url('../img/background.jpg');
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

/*Getting rid of bullets in lists*/
ul {
	list-style-type: none;
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
}


/*Override default link colours*/

a {
	color:#6D0B0B;
}

a:clicked {
	color:#6D0B0B;
}

a:hover {
	color: #4fc1e9;
	cursor: pointer;
}

/*Adding logo*/
.header {
	background: url('../img/logo.jpg') no-repeat top center;
	background-color: white;
	z-index: 500;
	display: block;
	height: 100px;
	width: 70%;
	min-width: 350px;
	margin: 0 auto;
}

/*Set white box for forms and lists*/
.form-body, .index-body {
	background-color: white;
	margin: 0 auto;
	position: static;
	height: auto;
	width: 70%;
	margin-top: 25px;
}



/*Creating space at top and bottom for wine list*/
.index-body {
	padding-top: 50px;
	padding-bottom: 60px;
}

/*Arranging wine results*/
.winelist-body {
	display: block;
	min-width: 250px;
}

.wine_image {
	height:200px;
	float:left;
	margin: 15px;
}

.winelist-body:after {
	display: block;
	clear: both;
	content: "";
	height: 0;
	visibility: hidden;
}

.winelist-body p{
	margin-left: 10px;

}




/*Changing defaults for wine form*/
.control-group {
	width:70%;
	margin-bottom: 10px;
}

.control-label {
	font-size: 24px;
}

.input-box {
	position: relative;
	width: 50%;
	min-width: 250px;
	font-size: 16px;
}

fieldset {
	border:none;
}

#wine-comments {
	font-size: 16px;
	width: 50%;
	min-width: 250px;
}

#rating-list {
	list-style: none;
	padding: 0px;
}

.#wine-color {
	padding-left: 0px;
}


/*Customizing buttons*/
.button_link {
	background-color: #EAE7E7;
	border: 2px solid black;
	border-radius: 15px;
	max-width: 500px;
	min-width:200px;
	width: 50%;
	display: block;
	color: white;
	margin: 20px auto;
	text-align: center;
	height: 80px;
	vertical-align: middle;
}

.button_link:hover {
	color: #4fc1e9;
	cursor: pointer;
}

#search-button, #submit-button, #reset-button {
	background-color: #EAE7E7;
	border: 2px solid black;
	border-radius: 15px;
	max-width: 500px;
	min-width:100px;
	width: 20%;
	display: block;
	color: white;
	height: 40px;
	margin-left: 0px;
	color: #6D0B0B;
	position: inline;
	
}

#search-button:hover {
	color: #4fc1e9;
	cursor: pointer;
}

.button-text{
	padding-top: 22px;
	font-size: 28px;
}

.button_link a{
	padding-top: 12px;
}

.btn-default {
	width: 100px;
	height: 30px;
	font-size: 16px;
}


/*Responsive for small screens*/
@media all and (max-width: 500px) {
	.wine_image {
		height: 100px;
	}
	.winelist-body p {
		margin: 0px;
	}
	.winelist-body {
		padding: 5px;
	}
	.form-body{
		min-width:320px;
	}

} 





